//Variables
$baseColor:#60ddd9;
$baseFont: 'Comic Sans MS';
$altFont: 'Helvetica';

$gap:15;

//Listas - Maps
$colores:(
    success: #0eec81,
    danger: #ec4d0e,
    info: #475df3,
    warning: #e1e568,
    otro: #4c4e10,
);

